'context-menu':
  '.overlayer':
    'Build': 'build:run'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Build'
      'submenu': [
        { 'label': 'Build', 'command': 'build:run' },
        { 'label': 'Stop', 'command': 'build:stop' },
        { 'label': 'Config', 'command': 'build:config' }
      ]
    ]
  }
]
